<div>
  <div class="header">
    <h4>Compare Deals, Book Flights</h4>
  </div>
  <div class="filter">
    <mat-form-field appearance="fill">
      <mat-label>Where would you like to go?</mat-label>
      <mat-select multiple>
        <mat-option>Jezero Crater</mat-option>
        <mat-option>Eberswalde</mat-option>
        <mat-option>Holden Crater</mat-option>
        <mat-option>Columbia Hills, Gusev</mat-option>
        <mat-option>Mawrth Vallis</mat-option>
        <mat-option>Terra Sabaea</mat-option>
        <mat-option>NE Syrtis</mat-option>
        <mat-option>Nili Fossae</mat-option>
        Olympus Mons
      </mat-select>
    </mat-form-field>
    <div>Sol</div>
    <div>Timezone</div>
    Moon
    <div>Planet</div>
    <div>Galactic Suite Space Resort</div>
  </div>

  <mat-list>
    <h4>Vacation Ideas</h4>
    <mat-list-item> Tharsis Rise & volcanoes </mat-list-item>
    <mat-list-item> Valles Marineris </mat-list-item>
    <mat-list-item>Gale Crater and Mount Sharp (Aeolis Mons)</mat-list-item>

    <mat-list-item> Medusae Fossae </mat-list-item>
    <mat-list-item
      >'Ghost Dunes' in Noctis Labyrinthus and Hellas basin</mat-list-item
    >
  </mat-list>
</div>
<div>
  <h5>Carrier</h5>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select multiple>
      <mat-option>SpaceX</mat-option>
      <mat-option>Virgin Galactic</mat-option>
      <mat-option>Blue Origin</mat-option>
    </mat-select>
  </mat-form-field>
</div>
